/* attractions.css */

h1 {
	font-family: "Avenir-Medium", Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 68px;
	text-align: center;
	color: white;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align: center;
}

img {
	align-content: left;
	margin-left: 25px;
	margin-top: 25px;
}
body {
	background-color: #009999;
	color: white;
	background:-o-linear-gradient(-70deg, #009BB9 0%, #00b3b3 100%);
	background:-moz-linear-gradient(-70deg, #009BB9 0%, #00b3b3 100%);
	background:-ms-linear-gradient(-70deg, #009BB9 0%, #00b3b3 100%);
	background:linear-gradient(90deg, #009BB9 0%,#00b3b3 100%);
	background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-size: 100px;
}