/* splash.css */

h1 {
	font-size: 68px;
	font-family: "Avenir-Medium", Helvetica, "Helvetica Neue", Arial, sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
	text-transform: lowercase;
	font-style: normal;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	/*margin-left:50px;	*/
	font-size: 50px;
	background-color: #009999;
	font-family: "Avenir-Light", Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-align: center;
	text-transform: lowercase;
	color: white;
	text-decoration: none;
	background:-o-linear-gradient(-89deg, #00b3b3 0%, #009999 100%);
	background:-moz-linear-gradient(-89deg, #00b3b3 0%, #009999 100%);
	background:-ms-linear-gradient(-89deg, #00b3b3 0%, #009999 100%);
	background:linear-gradient(-179deg, #00b3b3 0%,#009999 100%);
	background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
slideshow,
slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left; 
}
slideshow li span {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 36s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
	background: url('boston.jpeg');
}

.slideshow li:nth-child(2) span {
	background: url('barcelona.jpeg');
}
.slideshow li:nth-child(3) span {
	background: url('riodejaniero.jpeg');
}
.slideshow li:nth-child(4) span {
	background: url('budapest.jpeg');
}

a {
	color: white;
	text-decoration: none;
	font-family: "Avenir-Light", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
a:hover {
	color: #ffffe6;
}

div {
	align: center;
}

button {
	font-size: 40px;
	font-family: "Avenir-Medium", Helvetica, "Helvetica Neue", Arial, sans-serif;
	height: 10%;
	width: 15%;
	background-color: transparent;
	border-color: white;
	border-width: 2%;
	color: white;
	border-style: solid;
	outline: none !important;
}

button:active{
	outline: none !important;
}

button:hover {
	background-color: white;
	color: #009999;
}